
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
  signingkey = AUTHORKEY

[credential]
  helper = GIT_CREDENTIAL_HELPER

[http]
  cookiefile = /home/USERNAME/.gitcookies

[github]
  user = GITHUBUSER

[alias]
  bv = branch --sort=-committerdate -av
  co = checkout
  cb = checkout -b
  ri = rebase -i

  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
  rank-contributors = !$ZSH/bin/git-rank-contributors
  count   = !git shortlog -sn

  lg = log --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cd %an)%Creset' --abbrev-commit --date=short
  lgs = log --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cd %an)%Creset' --abbrev-commit --date=short -n50
  refresh-sha1s = rebase --interactive --exec 'git commit --amend --no-edit'
  check-series = rebase --interactive --exec 'git format-patch --stdout -1 | scripts/checkpatch.pl --strict -'
  check-series-arm64 = rebase --interactive --exec 'make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- -j16 >/dev/null'
  check-maintainer = rebase --interactive --exec 'git format-patch --stdout -1 | scripts/get_maintainer.pl'
  list-patches = cherry -v

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore
  pager = less -FRSX
  editor = vim

[apply]
  whitespace = nowarn

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[difftool]
  prompt = false

[help]
  autocorrect = 1

[hub]
  protocol = https

[sendemail]
  smtpserver = smtp.gmail.com
  from = AUTHORNAME <AUTHOREMAIL>
  bcc = AUTHOREMAIL
  confirm = always
  multiedit = false
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = AUTHOREMAIL

[tig "bind"]
  generic = Meta-m view-main
  generic = Meta-s view-status
  generic = _ :set vertical-split = no
  generic = | :set vertical-split = yes

  main = <C-f>  ?git commit --amend
  main = <C-b>  !git branch -f "%(prompt Enter branch name: )" $(commit)
  main = <Esc>r ?git reset %(commit)
  main = <Esc>R ?git reset --hard %(commit)
  main = <C-b>  !@git branch -f %(prompt) %(commit)
  main = <C-d>  !@git branch -D %(prompt)
  main = <C-s>  !@git stash save "%(prompt)"
  main =    c   !@git checkout %(branch)
  main =    C   !@git checkout %(commit)
  main =    s   !@git checkout %(prompt)
  main =    F   !git commit --fixup=%(commit)
  main =    P   !git cherry-pick %(commit)
  main =    R   !git rebase -i %(commit)
  main =    T   !@git tag %(prompt) %(commit)
  main =    !   !@git revert %(commit)
  main =    F   !git commit --fixup=%(commit)
  main =    f   !@git format-patch -o /tmp/ %(commit) -1

  status = A !git commit --amend
  status = C !git commit -s
  status = R !git checkout %(file)

  refs = n !@git branch %(prompt Enter branch name: )

  tree = l !git log %(file)

[diff]
  tool = vimdiff

[gui]
  fontui = -family \"Liberation Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"Liberation Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0

[url "https://chromium.googlesource.com/a/"]
  insteadOf = https://chromium.googlesource.com/a/
  insteadOf = https://chromium.googlesource.com/

[rerere]
  autoupdate = true
  enabled = true

# vim: autoindent tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=gitconfig
