sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
vim/bundle
zsh/oh-my-zsh
vim/sessions
fonts
mutt/msmtprc.symlink
*.pyo
imapfilter/certificates
imapfilter/credentials.enc
