
### Work Emails
IMAPStore work-remote
  Host outlook.office365.com
  User patrick.bellasi@arm.com
  # Use hardcoded password
  Pass yrnqvtylzxngxhnn
  # Fetch password from gnome-keyring:
  # PassCmd "~/dotfiles/bin/gnome_keyring.py imap_ARM -p"
  # Fetch password from a gpg-encrypted file:
  #PassCmd "gpg --quiet --for-your-eyes-only --decrypt $HOME/imappassword.gpg"
  SSLType IMAPS
  SSLVersions TLSv1.2
  CertificateFile /etc/ssl/certs/ca-certificates.crt
  PipelineDepth 10

MaildirStore work-local
  Path  ~/Mail/Work/
  Inbox ~/Mail/Work/INBOX
  AltMap yes
  SubFolders Verbatim

Channel main
  Master  :work-remote:
  Slave   :work-local:
  Patterns * !Archive !Calendar* !Contacts !Junk* !Journal !Outbox !Deleted* !RSS* !Sent !Sync* !ML*
  Create  Slave
  Expunge Both
  Sync    Push Pull All
  SyncState *
  CopyArrivalDate yes 

Channel archive
  Master  :work-remote:
  Slave   :work-local:
  Patterns Archive*
  Create  Slave
  Expunge Both
  MaxMessages 1000
  ExpireUnread yes
  Sync Push Pull All
  SyncState *
  CopyArrivalDate yes 

Channel ml
  Master  :work-remote:
  Slave   :work-local:
  Patterns ML*
  Create  Slave
  Expunge Both
  MaxMessages 5000
  ExpireUnread yes
  #Sync    Pull All Push Flags
  Sync Push Pull All
  SyncState *
  CopyArrivalDate yes 

Group work main ml archive

