
################################################################################
# General settings

[general]
ui                 = ttyui
accounts           = IMAPACCOUNT

# Sosurce the script to get authentication tokens
# NOTE: that script has to be exectuted the first time from console to save the
#       authentication tokens associated wach of the following accounts,
#       e.g. you can use "imap_work" for the Work account
pythonfile         = ~/dotfiles/bin/gnome_keyring.py

# How many accounts synced simultaneously
maxsyncaccounts    = 1

################################################################################
# IMAPACCOUNT account

[Account IMAPACCOUNT]
localrepository    = IMAPACCOUNT-Local
remoterepository   = IMAPACCOUNT-Remote

# Local folder -----------------------------------------------------------------
[Repository IMAPACCOUNT-Local]
type               = Maildir
localfolders       = ~/Mail/IMAPACCOUNT

# Remote folder ----------------------------------------------------------------
[Repository IMAPACCOUNT-Remote]
type               = IMAP
remotehost         = IMAPSERVER
remoteusereval     = get_username("imap_IMAPACCOUNT")
remotepasseval     = get_password("imap_IMAPACCOUNT")
ssl                = yes

realdelete         = no
maxconnections     = 3
sslcacertfile      = /etc/ssl/certs/ca-certificates.crt

# # Synchronize only the folders Inbox and Sent:
# folderfilter = lambda foldername: foldername in ['Inbox', 'Sent']

################################################################################
# MUTT mailboxes autogeneration

# Mutt cannot be simply pointed to an IMAP or maildir directory and be expected
# to guess which subdirectories happen to be the mailboxes, yet offlineimap can
# generate a muttrc fragment containing the mailboxes that it syncs.
[mbnames]
enabled            = yes
filename           = ~/dotfiles/mutt/mailboxes
header             = "mailboxes "
peritem            = "+%(accountname)s/%(foldername)s"
sep                = " "
footer             = "\n"

